.prizes
{

}

ul.prizes
{
	list-style-type: none;
}
.schoolyear
{
	border-radius: 25px;
	border: 5px solid orange;
	padding: 20px; 
}

ul.prizes>li
{
	border-radius: 25px;
	border: 5px solid orange;
	padding: 20px; 
	margin: 20px auto;
}

ul.prizes>li>label
{
	font-size: 125%;
	font-style: bold;
}

ul.prizes>li.gold
{
    background-color: #FFED73;
    /* For WebKit (Safari, Chrome, etc) */
    background: #FFED73 -webkit-gradient(linear, left top, left bottom, from(#D9BE00), to(#FFED73)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #FFED73 -moz-linear-gradient(top, #D9BE00, #FFED73) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9BE00, endColorstr=#FFED73) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9BE00, endColorstr=#D9BE00)" no-repeat;
}

ul.prizes>li.silver
{

	background: #e2e2e2; /* Old browsers */

	background: -moz-radial-gradient(center, ellipse cover,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */

	background: -webkit-radial-gradient(center, ellipse cover,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */

	background: radial-gradient(ellipse at center,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

ul.prizes>li.bronze
{
	background: rgba(243,226,199,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 60%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(182,141,76,1)), color-stop(60%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 60%, rgba(233,212,179,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 60%, rgba(233,212,179,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 60%, rgba(233,212,179,1) 100%);
background: radial-gradient(ellipse at center, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 60%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
	color: white;
}
